html {
  color: #fff;
}

.App {
  text-align: center;
  background-color: #181824;
  background-image: url("/src/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
  min-height: 100vh;
  margin-top: -1.5em;
}

.App.light {
  background-image: url("/src/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
}

#app_body {
  width: 27em;
  margin: auto;
}

#app_body h1 {
  padding-top: 2em;
  letter-spacing: 10px;
  display: flex;
  justify-content: space-between;
}

#add_task_div {
  background-color: #25273C;
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 5px 5px 5px 8px;
  justify-content: center;
  align-items: center;
}

#add_task_div.light {
  background-color: #fff;
  color: #181824;
}

.task-radio {
  width: 20px;
}

#task_input {
  width: 98%;
  height: 2em;
  background-color: #25273C;
  border: none;
  color: #fff;
  font-size: 100%;
}

#task_input.light {
  background-color: #fff;
}

#tasks {
  text-align: left;
  width: 27em;
  margin-top: 1.5em;
  min-height: 10em;
  background-color: #25273C;
  display: block;
  box-shadow: 1px 1px 2px 0px #181824;
}

#tasks.light {
  background-color: #fff;
  box-shadow: 1px 1px 2px 0px #aeaeae;
}

#tasks p {
  margin: 0;
  padding: 10px;
  border-bottom: solid #37394E;
}

#add_task {
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  cursor: pointer;
}

/* icons */

.check-icon {
  margin: 5px auto;
  width: 13px;
}

#brightness_icon {
  cursor: pointer;
}