html {
  color: #fff;
  background-color: #181824;
}

.App {
  text-align: center;
  background-color: #181824;
  background-image: url("/src/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
  min-height: 100vh;
  margin-top: -1.5em;
  transition: ease-in-out 1s;
}

.App.light {
  background-image: url("/src/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
  transition: ease-in-out 1s;
}

#app_body {
  width: 27em;
  margin: auto;
  transition: ease-in-out 1s;
}

#app_body h1 {
  padding-top: 2em;
  letter-spacing: 10px;
  display: flex;
  justify-content: space-between;
}

#add_task_div {
  background-color: #25273C;
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 5px 5px 5px 8px;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 1s;
}

#add_task_div.light {
  background-color: #fff;
  color: #181824;
}

.task-radio {
  width: 20px;
}

#task_input {
  width: 96%;
  height: 2em;
  background-color: #25273C;
  border: none;
  color: #fff;
  font-size: 100%;
  transition: ease-in-out 1s;
}

#task_input:focus {
  outline-style: none;
}

#task_input.light {
  background-color: #fff;
  color: #2e2e2e;
}

#tasks {
  text-align: left;
  width: 27em;
  margin-top: 1.5em;
  min-height: 10em;
  background-color: #25273C;
  display: block;
  box-shadow: 1px 1px 2px 0px #181824;
  transition: ease-in-out 1s;
}

#tasks.light {
  background-color: #fff;
  box-shadow: 1px 1px 2px 0px #aeaeae;
  color: #3a3a3a;
}

#tasks p {
  margin: 0;
  padding: .85rem 1rem;
  border-bottom: solid 1px #545777b5;
}

.taskParagraph.light {
  border-bottom: solid #cacaca;

}

#tasks p:last-child {
  border-bottom: solid 1px #545777b5;
}

#add_task {
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  cursor: pointer;
}

#tasks_list {
  display: grid;
  grid-template-columns: 10% 90%;
}

#task_menu {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: first baseline;
  background-color: #25273C;
  margin-top: 0;
  padding: .7rem;
  border-top: solid .08rem #545777b5;
  box-shadow: 1px 1px 2px 0px #181824;
  transition: ease-in-out 1s;
}

#task_menu div {
  display: flex;
}

#task_menu div span {
  margin-right: .3rem;
}

#task_menu.light {
  background-color: #fff;
  color: #3a3a3a;
  box-shadow: 1px 1px 2px 0px #aeaeae;
  border-top: none;
}

#task_menu p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #5c5d78;
  transition: ease-in-out 1s;
}

#active-tasks {
  color: #5c5d78;
  font-weight: bold;
}

#clear {
  cursor: pointer;
}

#clear:hover,
#clear:active
 {
  text-decoration: underline;
}

/* icons */

.check-icon {
  margin: 5px auto;
  width: 13px;
  content: url('./icon-check.svg');
}

#brightness_icon {
  transition:1s ease-in-out;
  cursor: pointer;
  content: url('/src/icon-sun.svg');
  padding: .5rem;
}

#brightness_icon.active {
  content: url('/src/icon-moon.svg');
  transform: rotate(360deg);
}

@media (max-width: 500px) {
  .App {
    height: auto;
  }

  #app_body {
    width: 95%;
  }

  #tasks {
    width: 100%;
  }

  #task_input {
    max-width: 100%;
  }
}